<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Chat Aplication
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <form>
      
        <ion-label>Introduce su nick</ion-label>
    
        <ion-input [(ngModel)]="userName" name="name" placeholder="Enter nick"></ion-input>
       
        <ion-button [routerLink]="'/chat/' + userName">enviar</ion-button>
     
    </form>

  </div>
</ion-content>
