<ion-header>
  <ion-toolbar>    
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{nick}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-infinite-scroll>
    <ion-infinite-scroll-content>
      <ion-list>  
        <app-menssaje-item [mensajes]= messageList>
        </app-menssaje-item>        
      </ion-list>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
<ion-footer>
  <form>
    <ion-item>
      <ion-label>inserta el texto</ion-label>
      <ion-input [(ngModel)]="input" name="mensaje"></ion-input>
      <ion-button (click)="insertar()">enviar</ion-button>
    </ion-item>
  </form>
</ion-footer>
